@font-face {
  font-family: 'Matrix Code NFI';
  src: url('../fonts/matrix\ code\ nfi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  background: #000000;
  color: #00ff41;
  font-family: 'Matrix Code NFI', sans-serif;
  text-shadow: 0 0 3px #00ff41, 0 0 5px #00ff41, 0 0 5px #00ff41;
  text-transform: uppercase;
  /* text-align: center; */
}
main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 70vh;
  width: 90%;
  border: 2px solid limegreen;
  border-radius: 10px;
}

h1 {
  /* margin-left: 35%; */
  text-align: center;
  font-size: 3rem;
}

p {
  margin: 1rem;
  font-size: 2rem;
}
